################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CPP-Primer/v16
/.vs
VisualStudio2012.zip
